.flexbox {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pokemon-card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 70px;
  }
  
  .name {
    color: #fff;
    font-size: 20px;
    margin: 15px;
  }
  
  .pokemon-img {
    width: 100px;
    height: 100px;
  }
  
  body {
    background: #ffffff;
    font-family: Courier !important;
    font-weight: 700;
    color: #333;
  }
  
  .options {
    /* margin: 80px auto; */
    width: fit-content;
    /* background-color: #f15324; */
  }
  
  .options .option {
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 1;
    transition: opacity 250ms ease-in-out;
  }
  
  /* .options .option div {
    margin-right: 30px;
  } */
  
  .options .option.faded {
    opacity: 0.8;
  }
  
  .pokeball {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    border: 2px solid #333;
    transform-origin: center bottom;
  }
  
  .pokeball .base {
    background: #333;
    height: 80%;
    width: 80%;
    padding: 10%;
  }
  
  .pokeball .upper-half {
    position: absolute;
    background: #f15324;
    height: 42%;
    width: 100%;
  }
  
  .pokeball .lower-half {
    bottom: 0;
    position: absolute;
    background: white;
    height: 42%;
    width: 100%;
  }
  
  .pokeball .inner-circle {
    border-radius: 50%;
    height: 20%;
    width: 20%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 2px solid #333;
    transform: translate(-50%, -50%);
  }
  
  .indicator-inner {
    border-radius: 50%;
    height: 20%;
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
  }
  
  .indicator {
    border-radius: 50%;
    height: 80%;
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f64c4c;
    background: -webkit-radial-gradient(center, #f64c4c, #ff514f00);
    background: -moz-radial-gradient(center, #f64c4c, #ff514f00);
    background: radial-gradient(ellipse at center, #f64c4c, #ff514f00);
    opacity: 0;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0;
    }
  }
  
  @keyframes shake {
    0% {
      transform: rotate(5deg);
    }
    5% {
      transform: rotate(-5deg);
    }
    10% {
      transform: rotate(5deg);
    }
    15% {
      transform: rotate(-5deg);
    }
    20% {
      transform: rotate(5deg);
    }
    25% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  .selected {
    animation: shake 1.5s ease-in infinite;
  }
  
  .selected .indicator {
    opacity: 1;
    animation: blink 1s ease-in-out infinite;
  }
  
  .selected .indicator-inner {
    background: #f15324;
  }